<section class="features">
    <h2 class="section-title">Features</h2>
    <div class="feature-container">
        <div class="feature-card">
            <div class="feature-content">
                <h3 class="feature-title">Instagram URL support</h3>
                <p class="feature-description">Our Instagram Media Downloader allows you to download photos and videos from Instagram by simply replacing 'instagram' in the URL with '<%= config.brandName %>'. With just a few clicks, you can download high-quality media from any public Instagram account. Our downloader is fast, secure, and supports both photos and videos. Get started today and download your favorite Instagram media with ease.</p>
            </div>
            <% if(config.brandName == 'dlnstagram'){ %>
                <img src="/media/dlnstagramUrl.gif" alt="Url feature" class="feature-img right-img"> 
              <% } else if(config.brandName == 'dlnsta'){ %>
                <img src="/media/dlnstaUrl.gif" alt="Url feature" class="feature-img right-img">
              <% } %>
        </div>
        

        <div class="feature-card">
            <img src="/media/MultiplePosts.gif" alt="Instagram Photos" class="feature-img left-img">
            <div class="feature-content">
                <h3 class="feature-title">Multiple Posts</h3>
                <p class="feature-description">With our Instagram downloader, you can easily download multiple high-quality photos from Instagram in just a few clicks. Our downloader supports downloading photos from public Instagram accounts, so you can download your favorite content quickly and easily.</p>
            </div>
        </div>
        <div class="feature-card">
            <div class="feature-content">
                <h3 class="feature-title">Single Post</h3>
                <p class="feature-description">Easily download single posts from public Instagram accounts with our Instagram downloader. You can download high-quality photos and videos in just a few clicks.</p>
            </div>
            <img src="/media/InstagramSinglePost.jpg" alt="Instagram Single Post" class="feature-img right-img">
        </div>
        <div class="feature-card">
            <img src="/media/InstagramIgtv.gif" alt="Instagram IGTV" class="feature-img left-img">
            <div class="feature-content">
                <h3 class="feature-title">Instagram IGTV</h3>
                <p class="feature-description">Downloading IGTV videos from Instagram has never been easier with our Instagram downloader. Our downloader lets you easily download high-quality IGTV videos in just a few clicks. Please note that our downloader only supports public Instagram accounts, so you can only download IGTV videos from public Instagram accounts.</p>
            </div>
        </div>
        <div class="feature-card">
            <div class="feature-content">
                <h3 class="feature-title">Instagram Reels</h3>
                <p class="feature-description">Our Instagram downloader also allows you to easily download Instagram Reels from public accounts. With our downloader, you can download Reels in MP4 format, which is compatible with most media players.</p>
            </div>
            <img src="/media/InstagramReel.gif" alt="Instagram Reels" class="feature-img right-img">
        </div>
    </div>
    <div class="seo-content">
        <h3 class="seo-title">Download Instagram Photos, Videos, IGTV and Reels</h3>
        <p class="seo-description">Our Instagram downloader is the easiest and fastest way to download photos, videos, IGTV and Reels from Instagram. Whether you want to save your favorite Instagram photos or download videos for offline viewing, our downloader can help. Our downloader is easy to use and supports downloading from public Instagram accounts. You can download high-quality photos and videos in just a few clicks. Try our Instagram downloader today and start downloading Instagram content in seconds!</p>
        <h3 class="seo-title">Download Instagram Videos in MP4 format</h3>
        <p class="seo-description">With our Instagram downloader, you can download Instagram videos in MP4 format. MP4 is a popular video format that is compatible with most media players. Whether you want to watch Instagram videos on your phone, tablet, or computer, our downloader can help. You can download high-quality videos from public Instagram accounts in just a few clicks.</p>
        <h3 class="seo-title">Download Instagram Photos and Videos</h3>
        <p class="seo-description">Our Instagram downloader allows you to easily download photos and videos from any public Instagram account. Simply enter the url of the media and our downloader will handle the rest. It's that easy!</p>
        <h3 class="seo-title disclaimer">Disclaimer</h3>
        <p class="seo-description">Our Instagram downloader is developed solely for the purpose of downloading content from your own public account. We are not responsible for any misuse of the downloaded media. The responsibility lies solely with the user.</p>
    </div>
</section>