<footer>
    <nav>
      <ul>
        <li><u>Legal</u></li>
        <li><a href="/pages/privacy-policy" target="_blank">Privacy policy</a></li>
        <li><a href="/pages/terms-of-service" target="_blank">Terms of service</a></li>
        <li><a href="/pages/disclaimer" target="_blank">Disclaimer</a></li>
      </ul>
      <ul>
        <li><u>Pages</u></li>
        <!-- <li><a href="/about">About</a></li> -->
        <li><a href="/pages/contact-us">Contact Us</a></li>
      </ul>
    </nav>
    <nav>
        <ul>
            <li><u>Tools</u></li>
            <li><a target="_blank" href="/instagram">Instagram photo and video downloader</a></li>
          </ul>
    </nav>
    <div>
      <p>We are not affiliated with Instagram or Meta.</p>
      <p>&copy; 2023 <a href="/">dlnstagram</a>. All rights reserved.</p>
    </div>
  </footer>
  
  