<html>
  <%- include('partials/head') %>
<body>
  <%- include('partials/header')%>

<div class="main-section">
    <h1>Contact us</h1>
    <br>
    <p>Have a question? Need information on how to advertise on SnapInsta? Please do not hesitate to contact us via email: dlnstagram99@gmail.com</p>
</div>

<%- include('partials/footer') %>

</body>
</html>