<html>
  <%- include('partials/head') %>
<body>
  <%- include('partials/header')%>

<div class="main-section">
    <h1>Disclaimer</h1>
    <br>
    <p>The information contained in this SnapInsta.App website is for general purposes only. This information is provided by SnapInsta.App and we always try to keep the information current and correct. We make no representations or warranties of any kind, express or implied, about the completeness, accuracy, suitability, or availability with respect to the website or the information, products, services, or related graphics contained on this website for any purpose. Any reliance you place on such information is at your own risk.</p>
    <br>
    <p>In no event shall we be liable for any loss or damage including without limitation, indirect loss or damage whatsoever arising from loss of data or profits arising from the use of this website.</p>
    <br>
    <p>Through this website you can link to other websites which are not under the control of SnapInsta.App. We have no control over the content, nature and availability of these sites.</p>
    <br>
    <p>Every effort is made to keep the website up and running smoothly. However, <%= config.domainName %> is not responsible for the website being temporarily unavailable due to technical issues beyond our control.</p>
    <br>
</div>

<%- include('partials/footer') %>

</body>
</html>